<!--

   @author: Koketso Gift Matlhatsi
   @technical-support:
       email: Koketso42@gmail.com
       phone: 071 530 2436 
       
   @page-info:

        Login Page
-->

<ion-view cache-view="false" hide-nav-bar="false" view-title="Login" on-drag-left="onDragLeft()" on-drag-right="onDragRight()" menu-close>
    <ion-content class="padding background" scroll="true" overflow-scroll="false">
        <form name="form_signIn" novalidate>
            <div class="logo-pane">
                <img src="img/global/logo.png" />
            </div>
            <div class="card padding light-bg transparent-9">
                <div class="list">
                    <b class="positive">Log In</b>
                    <label class="item-floating-label no-borders" ng-class="{ 'has-errors' : form_signIn.username.$invalid && form_signIn.$submitted, 'no-errors' : form_signIn.username.$valid}">
                        <span class="input-label positive">Username</span>
                        <input type="text" placeholder="Username" name="username" ng-model="data.username" ng-change="form_signIn.$valid" required>

                        <!--  Username Error validation  -->
                        <div class="error-container" ng-show="form_signIn.username.$error && form_signIn.$submitted" ng-messages="form_signIn.username.$error">
                            <div ng-messages-include="error-list.html"></div>
                        </div>
                    </label>
                    <label class="item-floating-label no-borders" ng-class="{ 'has-errors' : form_signIn.password.$invalid && form_signIn.$submitted, 'no-errors' : form_signIn.password.$valid  && form_signIn.$submitted}">
                        <span class="input-label positive">Password</span>
                        <input type="password" placeholder="Password" name="password" ng-model="data.password" required>
                        
                        <!--  Password Error validation  -->
                         <div class="error-container last-error-container"  ng-show="form_signIn.password.$error && form_signIn.$submitted" ng-messages="form_signIn.password.$error">
                            <div  ng-messages-include="error-list.html"></div>
                        </div> 
                    </label>

                    <div class="full center">
                        <button class="button button-full button-positive radius-4" ng-click="form_signIn.$valid && login(data.username, data.password)">Login</button>
                        <!--<button class="button button-small button-clear button-positive radius-4">Forgot Password?</button>-->
                    </div>
                    <div class="full center">
                    <button class="button button-full button-positive button-clear radius-4" ng-click=" forgotPassword()">Forgot password ?</button>
                    <!--<button class="button button-small button-clear button-positive radius-4">Forgot Password?</button>-->
                    </div>
                    <div class="full center fingerprint-icon">
                        <img style="text-align: center;" src="{{ isAvailable ? 'img/global/fingerprint.png' : 'img/global/no-fingerprint.png' }}" ng-click="showAuth()">
                    </div> 
                </div>
            </div>
        </form>
    </ion-content>
    <script id="error-list.html" type="text/ng-template">
        <div class="positive" ng-message="required" style="color: #ff0000; margin-top:-8px; text-align: left;">
            <i class="ion-information-circled"></i>
            This field is required!
        </div>
        <div class="error" ng-message="minlength">
            <i class="ion-information-circled"></i>
            Minimum length of this field is 5 characters!
        </div>
        <div class="error" ng-message="maxlength">
            <i class="ion-information-circled"></i>
            Maximum length of this field is 20 characters!
        </div>
    </script>
</ion-view>


<!--
    
    <ion-view ng-controller="LoginController" ng-init="initializeView()" menu-close>
    <ion-content class="background">
        <form name="form_signIn" novalidate="">
            <div class="logo-container">
                <image class="logo" src="img/global/logo.png" />
            </div>
            <div class="card padding">
                <!--<label class="padding padding-bottom" style="width: 100%; text-align: center;">
                    <h3 class="dark">Hi Gift</h3>
                </label>--> <!--
                <label class="padding-top" style="border: none;">
                    <small class="positive">Username</small>
                </label>
                <label class="item item-input" style="border: none;" ng-class="{ 'has-errors' : form_signIn.username.$invalid && form_signIn.$submitted, 'no-errors' : form_signIn.username.$valid}">
                    <input class="padding-bottom" name="username" type="text" style="border-bottom: 1px solid #787878; border-top: 1px solid #787878;" ng-model="data.username" required />
                    
                </label>
                <div class="error-container"   ng-show="form_signIn.username.$error && form_signIn.$submitted" ng-messages="form_signIn.username.$error">
                    <div ng-messages-include="error-list.html"></div>
                </div>
                <label class="padding-top" style="border: none;">
                    <small class="positive">Password</small>
                </label>
                
                <label class="item item-input" style="border: none;" ng-class="{ 'has-errors' : form_signIn.password.$invalid && form_signIn.$submitted, 'no-errors' : form_signIn.password.$valid  && form_signIn.$submitted}">
                    <input class="padding-bottom" name="password"  type="password" style="border-bottom: 1px solid #787878; border-top: 1px solid #787878;" ng-model="data.password" required />
                    
                </label>
                <div class="error-container last-error-container"  ng-show="form_signIn.password.$error && form_signIn.$submitted" ng-messages="form_signIn.password.$error">
                    <div  ng-messages-include="error-list.html"></div>
                </div>  
                
                <label class="padding-top" style="width: 100%; text-align: center; border: none;">
                    <button class="button button-block button-positive" ng-click="form_signIn.$valid &&login(data.username, data.password)">Sign In</button>
                </label>
                <label class="item" style="width: 100%; text-align: center; border: none;">
                    <button class="button button-positive button-clear" ng-click="forgot()">Forgot your password?</button>
                </label>
            </div>
            </form>
</ion-content>
</ion-view>   -->