<!--

   @author: Emmanuel Mulea
   @technical-support:
       email: nocksmulea@gmail.com
       phone: 062 9332 370 
       
   @page-info:

        Rest password Page
-->

<ion-view cache-view="false" hide-nav-bar="false" view-title="Rest password" on-drag-left="onDragLeft()" on-drag-right="onDragRight()" menu-close>
    <ion-content class="padding background" scroll="true" overflow-scroll="false">
        <form name="form_signIn" novalidate>
            <div class="logo-pane">
                <img src="img/global/logo.png" />
            </div>

              <div ng-show="issent" class="card padding light-bg transparent-9">
                <div class="list">
                <p class="positive">A rest link has been sent to your email </p>
                </div>
                 <div class="full center">
                <button class="button button-small button-clear button-positive radius-4" ng-click="closeCard()">Close</button>
                 </div>
            </div>

            <div ng-show="!issent"  class="card padding light-bg transparent-9">
                <div class="list">
                    <b class="positive">Rest Password </b>
                        <label class="item-floating-label no-borders" ng-class="{ 'has-errors' : form_signIn.username.$invalid && form_signIn.$submitted, 'no-errors' : form_signIn.username.$valid}">
                        <span class="input-label positive">Email</span>
                        <input type="email" placeholder="Email" name="username" ng-model="email" ng-change="form_signIn.$valid" required>

                        <!--  Username Error validation  -->
                        <div class="error-container" ng-show="form_signIn.username.$error && form_signIn.$submitted" ng-messages="form_signIn.username.$error">
                            <div ng-messages-include="error-list.html"></div>
                        </div>
                    </label>
                    <div class="full center">
                        <button class="button button-full button-positive radius-4" ng-click="form_signIn.$valid && submit(email)">Submit</button>
                        <button class="button button-small button-clear button-positive radius-4" ng-click="closeCard()">Close</button>
                    </div>
                </div>
            </div>
        </form>
    </ion-content>
    <script id="error-list.html" type="text/ng-template">
        <div class="positive" ng-message="required" style="color: #ff0000; margin-top:-8px; text-align: left;">
            <i class="ion-information-circled"></i>
            This field is required!
        </div>
        <div class="error" ng-message="minlength">
            <i class="ion-information-circled"></i>
            Minimum length of this field is 5 characters!
        </div>
        <div class="error" ng-message="maxlength">
            <i class="ion-information-circled"></i>
            Maximum length of this field is 20 characters!
        </div>
    </script>
</ion-view>