<ion-view cache-view="false" view-title="Settings" hide-nav-bar="false">
  <ion-content class="afterLogin" ng-controller="SettingsController" scroll="true">
      <div class="content">
        <form method="post" name="SettingsForm" ng-model="settingsForm" novalidate>  
            
            <div class="card padding">
                <div class="list" ng-show="!isOpen">
                    <b class="positive">User controls</b>
                    <hr class="separator" />
                    <ion-list class="positive-bg">
                        <label class="no-borders">
                            <b>Please be aware</b> 
                            <br />
                            <p>
                                Any fingerprint saved on this device may be used to access your "Providence" account on this app. 
                                To protect the security of your account only your fingerprints should be stored on this device. 
                                By <b>ENABLING</b> fingerprint authentication, any user credentials already enrolled with 
                                fingerprint authentication will be overridden.
                            </p>  
                            <div class="full center fingerprint-icon">
                                <img style="text-align: center;" src="{{ isAvailable ? 'img/global/fingerprint.png' : 'img/global/no-fingerprint.png' }}">
                            </div>                    
                        </label>
                        <ion-toggle ng-show="isAvailable" class="afterLoginEdit" ng-model="fingerprint" ng-click="promptFingerprint()" toggle-class="toggle">
                            {{ !isStored ? 'Enable Fingerprint Authentication' : 'Disable Fingerprint Authentication' }} 
                        </ion-toggle>
                    </ion-list>
                    <div ng-show="isAvailable">
                        <button class="button button-full button-positive radius-4" ng-click="saveSettings(fingerprint)">Save</button>
                    </div>
                    <div ng-show="!isAvailable">
                        <p class="assertive">Your device doesn't support Fingerprint Authentication!</p>
                    </div>
                </div>
            </form>

            <form name="SetForm" novalidate>
            <div ng-show="!isOpen" class="full center">
            <button class="button button-full button-positive radius-4" ng-click="openSetPassword()">Change password</button>
            <!--<button class="button button-small button-clear button-positive radius-4">Forgot Password?</button>-->
            </div>
            <div ng-show="isOpen" >
            <div class="list">
            <b class="positive">Set a new password</b>
                <label class="item-floating-label no-borders" ng-class="{ 'has-errors' : SetForm.new_pwd.$invalid && SetForm.$submitted, 'no-errors' : SetForm.new_pwd.$valid}">
                <span class="input-label positive">New password</span>
                <input type="text" placeholder="New password" name="new_pwd" ng-model="new_pwd" ng-change="SetForm.$valid" required>

                <!--  Username Error validation  -->
                <div class="error-container" ng-show="isEmpty" ng-messages="SetForm.new_pwd.$error">
                  <div ng-messages-include="error-list.html"></div>
                </div>
                <div ng-show="islength" style="color: #ff0000; margin-top:-8px; text-align: left;">
                    <i class="ion-information-circled"></i>
                    Minimum length of this field is 6 characters!
                </div>
                </label>

                <div class="full center">
                <button class="button button-full button-positive radius-4" ng-click="setPassword(new_pwd)">Set</button>
                <button class="button button-small button-clear button-positive radius-4" ng-click="closeCard()">Close</button>
                </div>
            </div>
            </div>
            </div>  

            
        </form>

      </div>
  </ion-content>
  <script id="error-list.html" type="text/ng-template">
        <div class="positive" ng-message="required" style="color: #ff0000; margin-top:-8px; text-align: left;">
            <i class="ion-information-circled"></i>
            This field is required!
        </div>
        <div class="error" ng-message="minlength">
            <i class="ion-information-circled"></i>
            Minimum length of this field is 5 characters!
        </div>
        <div class="error" ng-message="maxlength">
            <i class="ion-information-circled"></i>
            Maximum length of this field is 20 characters!
        </div>
    </script>
</ion-view>
